<fieldset data-hook="creditcard">
  <legend>PagSeguro</legend>

  <table class="index">
    <tr>
      <th>Código de Transação no Pagseguro:</th>
      <th>Data de criação do pagamento:</th>
      <th>URL para efetuar o pagamento</th>
    </tr>
    <tr>
      <td>
        <%= payment.order.payment_notifications.present? ? payment.order.payment_notifications.last.transaction_id : "Sem Código" %></td>
      <td><%= payment.order.payment_notifications.present? ? l(payment.order.payment_notifications.first.created_at) : "" %></td>
			<% url = PagSeguro::Payment.checkout_payment_url(payment.payment_method.code(payment)) %>
      <td><%= link_to url, url %></td>
    </tr>
  </table>

  <table class="index">
    <tr>
      <th><%= Spree::PaymentNotification.human_attribute_name :params %></th>
      <th><%= Spree::PaymentNotification.human_attribute_name :status %></th>
      <th><%= Spree::PaymentNotification.human_attribute_name :transaction_id %></th>
      <th><%= Spree::PaymentNotification.human_attribute_name :notification_code %></th>
    </tr>
		<% payment.order.payment_notifications.each do |notification| %>
			<tr>
	      <td><%= notification.params %></td>
	      <td><%= notification.status %></td>
	      <td><%= notification.transaction_id %></td>
	      <td><%= notification.notification_code %></td>
			</tr>
		<% end %>
  </table>
</fieldset>
